<section class="hero">
  <img [src]="agency?.logo" alt="" />
  <div class="page">
    <div
      class="hero-body pl-0 is-flex is-justify-content-space-between is-align-items-start"
    >
      <h1 class="title">
        {{ agency?.naziv }}
        <span class="has-text-grey-light is-size-5"
          >({{ agency?.godina }})</span
        >
      </h1>
      <div>
        <a class="button button--icon" routerLink="edit">
          <ng-icon name="heroPencil"></ng-icon>
        </a>
        <a class="button button--icon has-background-danger-dark">
          <ng-icon color="white" name="heroTrash" />
        </a>
      </div>
    </div>

    <div class="">
      <h2 class="subtitle is-size-3">O agenciji</h2>
      <div class="is-flex is-align-items-center mb-2">
        <ng-icon name="heroEnvelope"></ng-icon>
        <p class="ml-2">{{ agency?.email }}</p>
      </div>
      <div class="is-flex is-align-items-center mb-2">
        <ng-icon name="heroPhone"></ng-icon>
        <p class="ml-2">{{ agency?.brojTelefona }}</p>
      </div>
      <div class="is-flex is-align-items-center mb-2">
        <ng-icon name="heroMapPin"></ng-icon>
        <p class="ml-2">{{ agency?.adresa }}</p>
      </div>
      <h2 class="subtitle is-size-3 mt-5">Destinacije</h2>

      <div class="columns is-multiline">
        <div
          class="wrapper column is-4-desktop is-6-tablet px-2"
          *ngFor="let destination of destinations"
        >
          <a
            class="card box p-0"
            [routerLink]="['destinations', destination.id]"
            [queryParams]="{ destinations: agency?.destinacije }"
          >
            <div class="card-image">
              <figure class="image is-4by3 m-0">
                <img [src]="destination.slike[0]" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div
                    class="is-flex is-align-items-baseline is-justify-content-space-between"
                  >
                    <p class="title mb-0">{{ destination.naziv }}</p>
                    <p
                      class="subtitle has-text-grey-light is-size-4 has-text-weight-bold pt-0 is-flex-shrink-0"
                    >
                      {{ destination.cena }}
                      <span class="has-text-weight-normal is-size-7">RSD</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="content has-text-grey-dark">
                {{ destination.opis | slice : 0 : 100 }}...
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
