<div class="content has-background-white-bis p-3">
  <form (submit)="register()">
    <label class="label" for=""
      >Email
      <div class="control">
        <input class="input" type="text" placeholder="email@example.com" />
      </div>
    </label>
    <label class="label"
      >Email
      <div class="control">
        <input class="input" type="password" placeholder="Vasa lozinka..." />
      </div>
    </label>
    <button class="button grow is-primary" type="submit">Prijavi se</button>
  </form>
</div>
