<div
  class="is-flex is-justify-content-center is-align-items-center"
  style="height: 100vh"
>
  <div class="columns">
    <div class="has-text-centered is-half ml-4 mt-5">
      <h1 class="is-size-1 has-text-weight-bold has-text-primary">404</h1>
      <p class="is-size-5 has-text-weight-medium">
        <span class="has-text-danger">Ups!</span> Stranica nije pronađena.
      </p>
      <p class="is-size-6 mb-2">Stranica koju tražite ne postoji..</p>
      <a routerLink="/" replaceUrl="true" class="button is-primary">Početna</a>
    </div>
  </div>
</div>
