<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="../../assets/aloe-vera.svg" />
      <span class="is-size-4 ml-3">Trip</span>
    </a>

    <a
      role="button"
      class="navbar-burger"
      [ngClass]="{ 'is-active': isMenuOpen }"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': isMenuOpen }"
  >
    <div class="navbar-start">
      <!-- <a routerLink="admin/agencies" class="navbar-item"> Agencije </a> -->
      <a routerLink="admin/users" class="navbar-item"> Korisnici </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" (click)="register()">
            <strong>Registruj se</strong>
          </a>
          <a class="button is-light" (click)="login()"> Prijavi se </a>
        </div>
      </div>
    </div>
  </div>
</nav>
