<div class="content has-background-white-bis p-3">
  <form (submit)="login($event)" [formGroup]="loginForm">
    <div class="field">
      <label class="label" for=""
        >Email
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="email@example.com"
            formControlName="email"
          />
        </div>
      </label>
      <p class="help is-danger"></p>
    </div>
    <div class="field">
      <label class="label"
        >Lozinka
        <div class="control">
          <input
            class="input"
            type="password"
            placeholder="Vasa lozinka..."
            formControlName="password"
          />
        </div>
      </label>
      <p class="help is-danger"></p>
    </div>
    <button
      class="button grow is-primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Prijavi se
    </button>
  </form>
</div>
