.slideshow{
    position: relative;
}

.slideshow__arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.slideshow__arrow--left{
    left: 10px;
}

.slideshow__arrow--right{
    right: 10px;
}