<section *ngIf="destination" class="hero">
  <div class="slideshow is-flex is-align-items-center">
    <ng-icon
      (click)="previousImage()"
      name="heroChevronLeft"
      class="slideshow__arrow slideshow__arrow--left is-clickable"
    ></ng-icon>
    <img
      class="is-fullwidth"
      [src]="destination.slike[currentImageIndex]"
      [alt]="destination.naziv"
    />
    <ng-icon
      (click)="nextImage()"
      name="heroChevronRight"
      class="slideshow__arrow slideshow__arrow--right is-clickable"
    ></ng-icon>
  </div>
  <div class="page">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
      <div>
        <h1 class="title">{{ destination.naziv }}</h1>
        <p
          class="subtitle has-text-grey is-size-4 has-text-weight-bold pt-0 is-flex-shrink-0"
        >
          {{ destination.cena }}
          <span class="has-text-weight-normal is-size-7">RSD</span>
        </p>
      </div>
      <a
        class="button button--icon"
        routerLink="edit"
        [queryParams]="{ destinations: destinations }"
      >
        <ng-icon name="heroPencil"></ng-icon>
      </a>
    </div>
    <div
      class="columns is-align-items-baseline is-justify-content-space-between"
    >
      <p class="column is-three-fifths">{{ destination.opis }}</p>
      <div class="column ml-a">
        <h2 class="subtitle">Osnovne Informacije</h2>
        <p>Maksimalan broj putnika je {{ destination.maxOsoba }}</p>
        <p>Nacin putovanja je {{ destination.prevoz }}</p>
      </div>
    </div>
  </div>
</section>
