<div class="columns is-multiline pt-5">
  <div
    class="wrapper column is-4-desktop is-6-tablet px-2 py-2"
    *ngFor="let agency of agencies"
  >
    <a
      [routerLink]="['/agencies/', agency.id]"
      class="card is-clickable box p-0"
    >
      <div class="card-image">
        <figure class="image is-4by6">
          <img [src]="agency.logo" [alt]="agency.naziv" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 ml-0">{{ agency.naziv }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
