<div class="page">
  <form class="box" [formGroup]="agencyForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Naziv</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder=""
          formControlName="naziv"
        />
      </div>
      <p class="help">{{ agencyForm.getError }}</p>
    </div>
    <div class="field">
      <label class="label">Adresa</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Adresa"
          formControlName="adresa"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Godina</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="godina"
          formControlName="godina"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Broj telefona</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder=""
          formControlName="brojTelefona"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Logo</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Unesite URL slike"
          formControlName="logo"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Unesite email"
          formControlName="email"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <button
      class="button is-primary mt-4"
      type="submit"
      [disabled]="agencyForm.invalid"
    >
      Sacuvaj
    </button>
  </form>
</div>
