<div class="page">
  <form class="box" [formGroup]="destinationForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Naziv</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder=""
          formControlName="naziv"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Cena</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Text input"
          formControlName="cena"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Prevoz</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder=""
          formControlName="prevoz"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Tip</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Unesite URL slike"
          formControlName="tip"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Maksimalno Osoba</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Unesite email"
          formControlName="maxOsoba"
        />
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <div class="field">
      <label class="label">Opis</label>
      <div class="control">
        <textarea
          class="textarea"
          placeholder="e.g. Hello world"
          formControlName="opis"
        ></textarea>
      </div>
      <!-- <p class="help">This is a help text</p> -->
    </div>
    <button class="button is-primary mt-4" type="submit">Sacuvaj</button>
  </form>
</div>
