<div class="columns is-multiline pt-5">
  <div
    class="wrapper column is-4-desktop is-6-tablet px-2 py-2"
    *ngFor="let user of users"
  >
    <div class="card">
      <div class="card-content">
        <div class="content">{{ user.ime }} {{ user.prezime }}</div>
        <!-- <footer class="card-footer p-2"> -->
        <!-- <a href="#" class="card-footer-item">Edit</a>
          <a href="#" class="card-footer-item">Delete</a> -->
        <button class="button is-primary mr-2" (click)="editUser()">
          Uredi
        </button>
        <button class="button is-danger" (click)="removeUser()">Obrisi</button>
        <!-- </footer> -->
      </div>
    </div>
  </div>
</div>
