/* You can add global styles to this file, and also import other style files */
@media screen and (max-width: 1370px) {
    .page {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

.no-scroll{
    overflow-y: hidden;
}

.grow{
    width: 100%;
}
.is-fullwidth {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}


.button--icon{
    text-align: center;
}



// .modal-open{
//     overflow-y: hidden;
// }
// .modal-open::before{
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 40; // must be 40 because bulma navbar styles
//     background-color:black;
//     opacity: .4;
//     overflow-y: hidden;
// }