<div class="modal-card">
  <header class="modal-card-head">
    <!-- <p class="modal-card-title">Da li ste sigurni da želite da obrišete?</p> -->
    <button
      class="delete"
      aria-label="close"
      (click)="modalService.close()"
    ></button>
  </header>
  <section class="modal-card-body">
    <form>
      <div class="field">
        <label class="label">Ime</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
      <div class="field">
        <label class="label">Prezime</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
      <div class="field">
        <label class="label">Adresa</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>

      <div class="field">
        <label class="label">Telefon</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
    </form>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-primary">Sačuvaj</button>
    <button class="button" (click)="modalService.close()">Otkaži</button>
  </footer>
</div>
