<div class="modal" [ngClass]="{ 'is-active': modalService.isOpen }">
  <div
    class="modal-background overflow--hidden"
    (click)="modalService.close()"
  ></div>
  <div class="modal-content">
    <ng-content *ngComponentOutlet="modalService.dialogComponent"></ng-content>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="modalService.close()"
  ></button>
</div>
