dialog{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    // height: 100%;
    // width: 100%;
    z-index: 50;
    border: none;
    border-radius: 4px;
}