<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Da li ste sigurni da želite da obrišete?</p>
    <button
      class="delete"
      aria-label="close"
      (click)="modalService.close()"
    ></button>
  </header>
  <section class="modal-card-body"></section>
  <footer class="modal-card-foot">
    <button class="button is-danger">Obrisi</button>
    <button class="button" (click)="modalService.close()">Otkaži</button>
  </footer>
</div>
